# Panda Python packages and Processing:

In [ ]:
#You can download BP.CSV file from this link: https://drive.google.com/file/d/1dZUDcwLWmpBHQEQIhCNKXBqIEjOLKRxR/view?usp=sharing

In [2]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd        # import the Python Data Analysis Library with the shortened name pd
df = pd.read_csv("BP.CSV") # read in the file into a pandas dataframe
df

,compound,name,BP_C,BP_K,SMILES,MW,Wiener,Z1,Z2
0,1,Methane,-162.2,110.95,C,16.043,0,0,0
1,2,Ethane,-88.6,184.55,CC,30.070,1,2,1
2,3,propane,-42.2,230.95,CCC,44.100,4,6,4
3,4,butane,-0.1,273.05,CCCC,58.120,10,10,8
4,5,2-methylpropane,-11.2,261.95,CC(C)C,58.120,9,12,9
5,6,pentane,36.1,309.25,CCCCC,72.150,20,14,12
6,7,2-methylbutane,27.0,300.15,CC(C)CC,72.150,18,16,14
7,8,"2,2-dimethylpropane",9.5,282.65,CC(C)(C)C,72.150,16,20,16
8,9,hexane,68.8,341.95,CCCCCC,86.180,35,18,16
9,10,2-methylpentane,60.9,334.05,CC(C)CCC,86.180,32,20,18
10,11,3-methylpentane,63.3,336.45,CC(CC)CC,86.180,31,20,19
11,12,"2,2-dimethylbutane",49.8,322.95,CC(C)(CC)C,86.180,28,24,22
12,13,"2,3-dimethylbutane",58.1,331.25,CC(C)C(C)C,86.180,29,22,21
13,14,heptane,98.5,371.65,CCCCCCC,100.200,56,22,20
14,15,3-ethylpentane,93.5,366.65,C(C)C(CC)CC,100.200,48,24,24
15,16,"2,2-dimethylpentane",79.2,352.35,CC(C)(CCC)C,100.200,46,28,26
16,17,"2,3-dimethylpentane",89.8,362.95,CC(C)C(CC)C,100.200,46,26,26
17,18,"2,4-dimethylpentane",80.6,353.75,CC(C)CC(C)C,100.200,48,26,24
18,19,2-methylhexane,90.1,363.25,CC(C)CCCC,100.205,52,24,22
19,20,3-methylhexane,91.8,364.95,CC(CC)CCC,100.200,50,24,23
20,21,octane,125.6,398.75,CCCCCCCC,114.230,84,26,24
21,22,3-methylheptane,118.9,392.05,CC(CC)CCCC,114.232,76,28,27
22,23,"2,2,3,3-tetramethylbutane",106.5,379.65,CC(C)(C(C)(C)C)C,114.230,58,38,40
23,24,"2,3,3-trimethylpentane",114.7,387.85,CC(C)C(CC)(C)C,114.230,62,34,36
24,25,"2,3,4-trimethylpentane",113.7,386.85,CC(C)C(C(C)C)C,114.230,65,32,33
25,26,"2,2,4-trimethylpentane",99.3,372.45,CC(C)(CC(C)C)C,114.230,66,34,32
26,27,nonane,150.7,423.85,CCCCCCCCC,128.250,120,30,28
27,28,2-methyloctane,143.0,416.15,CC(C)CCCCCC,128.259,114,32,30
28,29,decane,174.2,447.35,CCCCCCCCCC,142.280,165,34,32
29,30,2-methylnonane,166.9,440.05,CC(C)CCCCCCC,142.280,158,36,34

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   compound  30 non-null     int64
 1   name      30 non-null     object
 2   BP_C      30 non-null     float64
 3   BP_K      30 non-null     float64
 4   SMILES    30 non-null     object
 5   MW        30 non-null     float64
 6   Wiener    30 non-null     int64
 7   Z1        30 non-null     int64
 8   Z2        30 non-null     int64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.2+ KB

In [5]:
df=df.drop("compound", axis=1)
df

,name,BP_C,BP_K,SMILES,MW,Wiener,Z1,Z2
0,Methane,-162.2,110.95,C,16.043,0,0,0
1,Ethane,-88.6,184.55,CC,30.070,1,2,1
2,propane,-42.2,230.95,CCC,44.100,4,6,4
3,butane,-0.1,273.05,CCCC,58.120,10,10,8
4,2-methylpropane,-11.2,261.95,CC(C)C,58.120,9,12,9
5,pentane,36.1,309.25,CCCCC,72.150,20,14,12
6,2-methylbutane,27.0,300.15,CC(C)CC,72.150,18,16,14
7,"2,2-dimethylpropane",9.5,282.65,CC(C)(C)C,72.150,16,20,16
8,hexane,68.8,341.95,CCCCCC,86.180,35,18,16
9,2-methylpentane,60.9,334.05,CC(C)CCC,86.180,32,20,18
10,3-methylpentane,63.3,336.45,CC(CC)CC,86.180,31,20,19
11,"2,2-dimethylbutane",49.8,322.95,CC(C)(CC)C,86.180,28,24,22
12,"2,3-dimethylbutane",58.1,331.25,CC(C)C(C)C,86.180,29,22,21
13,heptane,98.5,371.65,CCCCCCC,100.200,56,22,20
14,3-ethylpentane,93.5,366.65,C(C)C(CC)CC,100.200,48,24,24
15,"2,2-dimethylpentane",79.2,352.35,CC(C)(CCC)C,100.200,46,28,26
16,"2,3-dimethylpentane",89.8,362.95,CC(C)C(CC)C,100.200,46,26,26
17,"2,4-dimethylpentane",80.6,353.75,CC(C)CC(C)C,100.200,48,26,24
18,2-methylhexane,90.1,363.25,CC(C)CCCC,100.205,52,24,22
19,3-methylhexane,91.8,364.95,CC(CC)CCC,100.200,50,24,23
20,octane,125.6,398.75,CCCCCCCC,114.230,84,26,24
21,3-methylheptane,118.9,392.05,CC(CC)CCCC,114.232,76,28,27
22,"2,2,3,3-tetramethylbutane",106.5,379.65,CC(C)(C(C)(C)C)C,114.230,58,38,40
23,"2,3,3-trimethylpentane",114.7,387.85,CC(C)C(CC)(C)C,114.230,62,34,36
24,"2,3,4-trimethylpentane",113.7,386.85,CC(C)C(C(C)C)C,114.230,65,32,33
25,"2,2,4-trimethylpentane",99.3,372.45,CC(C)(CC(C)C)C,114.230,66,34,32
26,nonane,150.7,423.85,CCCCCCCCC,128.250,120,30,28
27,2-methyloctane,143.0,416.15,CC(C)CCCCCC,128.259,114,32,30
28,decane,174.2,447.35,CCCCCCCCCC,142.280,165,34,32
29,2-methylnonane,166.9,440.05,CC(C)CCCCCCC,142.280,158,36,34

In [6]:
# Remove columns with object dtype
df = df.select_dtypes(exclude=['object'])
df

     BP_C    BP_K       MW  Wiener  Z1  Z2
0  -162.2  110.95   16.043       0   0   0
1   -88.6  184.55   30.070       1   2   1
2   -42.2  230.95   44.100       4   6   4
3    -0.1  273.05   58.120      10  10   8
4   -11.2  261.95   58.120       9  12   9
5    36.1  309.25   72.150      20  14  12
6    27.0  300.15   72.150      18  16  14
7     9.5  282.65   72.150      16  20  16
8    68.8  341.95   86.180      35  18  16
9    60.9  334.05   86.180      32  20  18
10   63.3  336.45   86.180      31  20  19
11   49.8  322.95   86.180      28  24  22
12   58.1  331.25   86.180      29  22  21
13   98.5  371.65  100.200      56  22  20
14   93.5  366.65  100.200      48  24  24
15   79.2  352.35  100.200      46  28  26
16   89.8  362.95  100.200      46  26  26
17   80.6  353.75  100.200      48  26  24
18   90.1  363.25  100.205      52  24  22
19   91.8  364.95  100.200      50  24  23
20  125.6  398.75  114.230      84  26  24
21  118.9  392.05  114.232      76  28  27
22  106.5  379.65  114.230      58  38  40
23  114.7  387.85  114.230      62  34  36
24  113.7  386.85  114.230      65  32  33
25   99.3  372.45  114.230      66  34  32
26  150.7  423.85  128.250     120  30  28
27  143.0  416.15  128.259     114  32  30
28  174.2  447.35  142.280     165  34  32
29  166.9  440.05  142.280     158  36  34

In [8]:
import pandas as pd
import numpy as np

# Calculate z-scores for each column
z_scores = np.abs((df - df.mean()) / df.std())

# Define a threshold for outlier detection
threshold = 3

# Remove rows with any z-score greater than the threshold
df = df[(z_scores < threshold).all(axis=1)]

# Print the resulting DataFrame without outliers
df

     BP_C    BP_K       MW  Wiener  Z1  Z2
1   -88.6  184.55   30.070       1   2   1
2   -42.2  230.95   44.100       4   6   4
3    -0.1  273.05   58.120      10  10   8
4   -11.2  261.95   58.120       9  12   9
5    36.1  309.25   72.150      20  14  12
6    27.0  300.15   72.150      18  16  14
7     9.5  282.65   72.150      16  20  16
8    68.8  341.95   86.180      35  18  16
9    60.9  334.05   86.180      32  20  18
10   63.3  336.45   86.180      31  20  19
11   49.8  322.95   86.180      28  24  22
12   58.1  331.25   86.180      29  22  21
13   98.5  371.65  100.200      56  22  20
14   93.5  366.65  100.200      48  24  24
15   79.2  352.35  100.200      46  28  26
16   89.8  362.95  100.200      46  26  26
17   80.6  353.75  100.200      48  26  24
18   90.1  363.25  100.205      52  24  22
19   91.8  364.95  100.200      50  24  23
20  125.6  398.75  114.230      84  26  24
21  118.9  392.05  114.232      76  28  27
22  106.5  379.65  114.230      58  38  40
23  114.7  387.85  114.230      62  34  36
24  113.7  386.85  114.230      65  32  33
25   99.3  372.45  114.230      66  34  32
26  150.7  423.85  128.250     120  30  28
27  143.0  416.15  128.259     114  32  30
28  174.2  447.35  142.280     165  34  32
29  166.9  440.05  142.280     158  36  34

In [9]:
# Calculate the correlation matrix
correlation_matrix = df.corr()

# Select the correlation values for "BP_K" column
correlation_with_BP_K = correlation_matrix["BP_K"]

# Print the correlation values for "BP_K" column
print(correlation_with_BP_K)

BP_C      1.000000
BP_K      1.000000
MW        0.989071
Wiener    0.875802
Z1        0.908114
Z2        0.886471
Name: BP_K, dtype: float64